<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.arcuscomputing.dictionarypro.parent"
          android:installLocation="auto"
          android:versionCode="231"
          android:versionName="2.3.1" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:name="com.arcuscomputing.ArcusApplication"
        android:label="@string/app_name"
        android:theme="@style/ArcusTheme" >

        <activity
            android:name="com.arcuscomputing.dictionary.ArcusSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible|adjustPan" >

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.arcuscomputing.dictionary.EditPreferencesActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.arcuscomputing.dictionary.ArcusFavouritesActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver android:name="com.arcuscomputing.dictionary.ArcusWotdWidget" >

            <intent-filter>

                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/arcus_wotd" />
        </receiver>
        
        <activity android:name="com.arcuscomputing.dictionary.BackupActivity"
        	android:label="@string/app_name">
		</activity>

        <service android:name="com.arcuscomputing.dictionary.ArcusWotdWidget$UpdateService" />

    </application>

</manifest>